<ion-header>

  <ion-navbar>
    <ion-title>Zamówienie</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list text-center *ngIf = 'showTableChoice'>

    <ion-grid>
      <ion-row>
       <ion-col>
         kuchnia
       </ion-col>
       <ion-col>
        <button ion-button [round]="true" (click)="chooseTable(1)">Stolik 1</button>
       </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button [round]="true" (click)="chooseTable(2)">Stolik 2</button>
        </ion-col>
        <ion-col>
          <button ion-button [round]="true" (click)="chooseTable(3)">Stolik 3</button>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <button ion-button [round]="true" (click)="chooseTable(4)">Stolik 4</button>
          </ion-col>
          <ion-col>
            <button ion-button [round]="true" (click)="chooseTable(5)">Stolik 5</button>
          </ion-col>
        </ion-row>
    </ion-grid>

  </ion-list>


  <ion-list *ngIf = 'showCurrentOrder'>
    <ion-list-header>
      Zamówienie - stolik {{currentOrder.tableId}} <button ion-button (click)="tableWasChosen = false">Zmień</button>
    </ion-list-header>
    
    <ion-item *ngFor = "let product of orderedProducts">
        <ion-label>{{product.name}}</ion-label>
        <ion-label>{{product.cost | number : '1.2-2'}} zł</ion-label>
        <ion-label>
          <button ion-button color="danger" [round]="true" (click)="removeProduct()"><ion-icon name="close"></ion-icon></button>
        </ion-label>
          
    </ion-item>

    <ion-item>
      <ion-label>Koszt zamówienia: {{sumOfPrices | number : '1.2-2'}} zł</ion-label>
    </ion-item>

    <ion-list text-center>
  
      <button ion-button (click)="goToAddingProducts()">Dodaj produkt do tego zamówienia</button>
      <button ion-button (click)="addOrderToDatabase()">Zapisz zamówienie w systemie</button>
    
    </ion-list>
  </ion-list>

  <ion-list *ngIf = 'showAddingNewProduct'>
    <ion-list-header>
      Menu
    </ion-list-header>

    <ion-item *ngFor = "let productType of productTypes">
      <ion-label>
        {{productType.name}}
        <ion-item *ngFor = "let product of (allProducts | productFilter:productType.id)">
          {{product.name}}
          {{product.cost | number : '1.2-2'}} zł
          <div item-right>
            <button  ion-button (click)="addProduct(product)"><ion-icon name="add-circle"></ion-icon></button>
            {{productCount[product.id - 1]}}
            <button ion-button (click)="removeProduct(product)"><ion-icon name="remove-circle"></ion-icon></button>
          </div>

        </ion-item>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
