<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>Zamówienie</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h6>Zamówienie: stolik {{currentOrder.tableId}}, {{currentOrder.guestsNumber}} gości</h6>
  
  <ion-list text-center *ngIf = '!showTableChoice && !showAddingNewProduct'><button ion-button (click)="goToTableChoice()">Zmień</button> </ion-list>


  <ion-list text-center *ngIf = 'showTableChoice'>

    <ion-item>
      <ion-label>Wybierz listę gości</ion-label>
      <ion-select [(ngModel)]="currentOrder.guestsNumber">
        <ion-option value = 1>1</ion-option>
        <ion-option value = 2>2</ion-option>
        <ion-option value = 3>3</ion-option>
        <ion-option value = 4>4</ion-option>
        <ion-option value = 5>5</ion-option>
        <ion-option value = 6>6</ion-option>
        <ion-option value = 7>7</ion-option>
        <ion-option value = 8>8</ion-option>
        <ion-option value = 9>9</ion-option>
        <ion-option value = 10>10</ion-option>
        <ion-option value = 11>11</ion-option>
        <ion-option value = 12>12</ion-option>
        <ion-option value = 13>13</ion-option>
        <ion-option value = 14>14</ion-option>
        <ion-option value = 15>15</ion-option>
        <ion-option value = 16>16</ion-option>
        <ion-option value = 17>17</ion-option>
        <ion-option value = 18>18</ion-option>
        <ion-option value = 19>19</ion-option>
        <ion-option value = 20>20</ion-option>
        <ion-option value = 21>21</ion-option>
        <ion-option value = 22>22</ion-option>
        <ion-option value = 23>23</ion-option>
        <ion-option value = 24>24</ion-option>
        <ion-option value = 25>25</ion-option>
        <ion-option value = 26>26</ion-option>
        <ion-option value = 27>27</ion-option>
        <ion-option value = 28>28</ion-option>
        <ion-option value = 29>29</ion-option>
        <ion-option value = 30>30</ion-option>
      </ion-select>
    </ion-item>

    <h5>Wybierz stolik</h5><br>
    <ion-grid>

      <ion-row>

        <ion-col col-4>
            <button ion-button color="dark" full>Bufet</button>
        </ion-col>

        <ion-col col-2>
        </ion-col>

        <ion-col col-2>
        </ion-col>

        <ion-col col-2>
        </ion-col>

        <ion-col col-2>
        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col col-2>
        </ion-col>

        <ion-col col-2>
        </ion-col>

        <ion-col col-2>
        </ion-col>

        <ion-col col-2>
          <button ion-button  (click)="chooseTable(3)" full>3</button>
        </ion-col>

        <ion-col col-2>
        </ion-col>

        <ion-col col-2>
          <button ion-button  (click)="chooseTable(5)" full>5</button>
        </ion-col>
        
      </ion-row>

      <ion-row>

          <ion-col col-2>
          </ion-col>
    
          <ion-col col-2>
            <button ion-button  (click)="chooseTable(2)" full>2</button>
          </ion-col>
    
          <ion-col col-2>
          </ion-col>
    
          <ion-col col-2>
          </ion-col>
    
          <ion-col col-2>
          </ion-col>
    
          <ion-col col-2>
          </ion-col>
            
      </ion-row>

      <ion-row>

          <ion-col col-2>
            <button ion-button  (click)="chooseTable(1)" full>1</button>
          </ion-col>
    
          <ion-col col-2>
          </ion-col>
    
          <ion-col col-2>
          </ion-col>
    
          <ion-col col-2>
            <button ion-button  (click)="chooseTable(4)" full>4</button>
          </ion-col>
    
          <ion-col col-2>
          </ion-col>
    
          <ion-col col-2>
            <button ion-button  (click)="chooseTable(6)" full>6</button>
          </ion-col>
            
      </ion-row>

    </ion-grid>

 
    <button ion-button color="secondary" (click)="goToOrderOverview()" *ngIf = 'this.currentOrder.guestsNumber != 0 && this.currentOrder.tableId != "0"'>
      Przejdź dalej 
    </button>

  </ion-list>


  <ion-list *ngIf = 'showCurrentOrder'>
    
    <ng-container *ngFor = "let amount of productCount; let currIndex = index">
      <ion-item *ngIf = 'amount > 0'>
        <b>{{getProductName(currIndex + 1)}}</b>,
        cena/szt: {{getProductPrice(currIndex + 1) | number : '1.2-2'}} zł x {{amount | number : '1.0-0'}}
      </ion-item>
    </ng-container>
   

    <ion-item>
      <ion-label><b>Koszt zamówienia: {{sumOfPrices | number : '1.2-2'}} zł</b></ion-label>
    </ion-item>

    <ion-list text-center>
  
      <button ion-button (click)="goToAddingProducts()">Dodaj produkt do tego zamówienia</button>
      <button ion-button (click)="addOrderToDatabase()">Zapisz zamówienie w systemie</button>
    
    </ion-list>
  </ion-list>
  

  <div *ngIf = 'showAddingNewProduct' text-center>

    <h5>Menu</h5>

    <ion-list *ngFor = "let productType of productTypes">

      <ion-list-header (click)="productType.show = !productType.show">
        <b item-start>{{productType.name}}</b>
        <div item-end>
          <ion-icon *ngIf = "!productType.show" name="add"></ion-icon>
          <ion-icon *ngIf = "productType.show" name="remove"></ion-icon>
        </div>
      </ion-list-header>

      <ion-item *ngIf = "productType.show">

        <ion-list>
          <ion-item *ngFor = "let product of (allProducts | productFilter:productType.id)">
            <p text-wrap>{{product.name}}<br>
            Cena: {{product.cost | number : '1.2-2'}} zł</p>

            <button ion-button (click)="removeProduct(product)" item-right padding>
              <ion-icon name="remove-circle"></ion-icon>
            </button>
            <p item-right>{{productCount[product.id - 1]}}</p>
            <button ion-button (click)="addProduct(product)" item-right padding>
              <ion-icon name="add-circle"></ion-icon>
            </button>

          </ion-item>
        </ion-list>
      
      </ion-item>

    </ion-list>
  
    <button ion-button (click)="goToOrderOverview()">Wróć</button>

  </div>

</ion-content>